
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background-color: #4a6d04;
        }
        
        .container {
            text-align: center;
        }

        h1 {
            font-size: 3em;
            color: #d8d8d8;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2em;
            color: #ffffff;
        }